<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <!-- Bootstrap CSS local -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/app.css" rel="stylesheet" />
  </head>
  <body class="bg-light">
    <div class="container">
      <!-- Logo centralizada -->
      <div class="row mb-4">
        <div class="col text-center logo-container">
          {{#if logoBase64}}<img src="data:image/png;base64,{{logoBase64}}" alt="Logo">{{/if}}
        </div>
      </div>

      {{{body}}}
    </div>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    {{#if pageScript}}<script src="{{pageScript}}"></script>{{/if}}
  </body>
</html>
